.customBar{
	width: 100%;
	background-color: #333;
}
.customBar li{

	display: inline-block;
	
}
.customBar .custoInput{
	width: 120px;
}
.customBar .textTool{
	display : none;

}
.customBar .text-link-tool{
	display : none;


}