.gridRow{
	position: absolute;
	width: 1px;
	height: 100%;
	background-color: lightgrey;
}
.gridLine{
	position: absolute;
	height: 1px;
	width: 100%;
	background-color: lightgrey;
}
.gridRow:hover{
	background-color: yellow;
}
.gridLine:hover{
	background-color: yellow;	
}