/* put your custom css here */

.container-fluid::after, .container-fluid::before, .container::after, .container::before, .row::after, .row::before{
	display: none;
}
.navbar{
	margin : inherit !important;
}

.row{

	margin : 0 auto;
}
.mode-list {
	float: right;
	text-align: center;
}
.mode-list li{

	display: inline-block;
}
.mode-btn{

}
.popup{
	padding: 10px;
	color: white;
	position: fixed;
	top:0;
	width: 800px;
	left: auto;
	background-color: #333;
	display:none;
	border: 2px black solid;
	border-radius: 5px;
	z-index: 22222;
}
.popup button{
	margin: 0 5px 0 0;
}

.popup .close{

	color : white;
}
footer{

	position: fixed;
	bottom: 0;
}