/* put your custom css here */

.container-fluid::after, .container-fluid::before, .container::after, .container::before, .row::after, .row::before{
	display: none;
}
.navbar{
	margin : inherit !important;
}

.row{

	margin : 0 auto;
}
.mode-list {
	float: right;
	text-align: center;
}
.mode-list li{

	display: inline-block;
}
.mode-btn{

}